* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
}

.main-header-section {
  height: 667px;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.main-header-section-nav-img {
  width: 270px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mask {
  width: 350px;
  height: auto;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  -webkit-mask-image: url(../images/paint.png);
  mask-image: url(../images/paint.png);
  -webkit-mask-size: auto 100%;
  mask-size: auto 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.rickyvang {
  width: 100%;
  height: auto;
  object-fit: cover;
  animation: revealImage 2s ease forwards;
}

.mask::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/paint.png);
  background-size: cover;
  animation: revealImage 3s ease forwards;
}

.main-header-icons-list {
  display: flex;
  justify-content: center;
}

/* KEYFRAMES */
@keyframes revealImage {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes popUp {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* ICONS */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 7px;
  border-radius: 50%;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s, transform 0.5s;
  animation: popUp 1s forwards 1.3s;
  font-size: 50px; /* You can change the size as needed */
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.fa-github {
  background: #4e5457;
  color: white;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s, transform 0.5s;
  animation: popUp 1s forwards 1.5s;
  font-size: 50px; /* You can change the size as needed */
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.fa-envelope {
  background: #71d811;
  color: white;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s, transform 0.5s;
  animation: popUp 1s forwards 1.9s;
  font-size: 50px; /* You can change the size as needed */
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
